</div>
<footer class="panel-footer navbar-fixed-bottom">
    <div class="col-lg-10">
        <i class="fa fa-copyright"></i> <?php echo date('Y'); ?> - Filipe Cruz
    </div>
    <div class="col-lg-2" id="clock">
        <?php echo date('H:i:s'); ?>
    </div>
</footer>
</body>
<script src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>