<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Educational System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/vendor/editor/editor.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/vendor/datatables/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/css/style.css" />
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/editor/editor.js"></script>
    <script src="/resources/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/resources/vendor/chartjs/Chart.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://educational.edu/index"><i class="fa fa-book"></i> Educational</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Cadastro
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="concursos">Concursos</a></li>
                        <li><a href="materias">Matérias</a></li>
                        <li><a href="topicos">Temas</a></li>
                    </ul>
                </li>
                <li><a href="sala-de-aula">Sala de Aula</a></li>
                <li><a href="estatisticas">Estatísticas</a></li>
                <li><a href="lembretes">Lembretes</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">