<form id="formMaterial" role="form" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissable" hidden>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="material">Matéria</label>
                <input type="text" class="form-control" id="material" name="material" placeholder="Digite o nome da matéria">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="relation">Vincular a Matéria</label>
                <select class="form-control" id="relation" name="relation">
                    <option value="">Selecione a matéria pai</option>
                </select>
            </div>
        </div>
    </div>
</form>