<form id="formConcourse" role="form" method="post">
    <input id="id" hidden>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissable" hidden>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span></span>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="company">Instituição</label>
            <input type="text" class="form-control" id="company" name="company">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="examBoard">Banca</label>
            <input type="text" class="form-control" id="examBoard" name="examBoard">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label for="dateSubscription">Data de Inscrição</label>
            <input type="date" class="form-control" id="dateSubscription" name="dateSubscription">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="dateExam">Data da Prova</label>
            <input type="date" class="form-control" id="dateExam" name="dateExam">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="hourExam">Hora da Prova</label>
            <input type="text" class="form-control" id="hourExam" name="hourExam">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label for="subscriptionValue">Insc. Valor</label>
            <input type="number" class="form-control" id="subscriptionValue" name="subscriptionValue">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label for="job">Cargo</label>
            <input type="text" class="form-control" id="job" name="job">
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label for="salary">Salário</label>
            <input type="number" class="form-control" id="salary" name="salary">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="infoURL">URL</label>
            <input type="url" class="form-control" id="infoURL" name="infoURL"">
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label for="subscription">Inscrição</label>
            <div class="checkbox">
                <label>
                    <input id="subscription" name="subscription" type="checkbox"> Inscrito
                </label>
            </div>
        </div>
    </div>
</div>
</form>