<?php
require('partials/header.phtml');

$form = 'partials/concursos/edit.phtml';
?>

    <div class="row">
        <div class="col-lg-10">
            <h3>Concursos Abertos</h3>
        </div>
        <div class="col-lg-2">
            <div class="h3 pull-right">
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addConcourse" id="new"><i class="fa fa-plus"></i> Adicionar concurso</button>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table table-hover table-responsive table-bordered" id="tableConcourses">
            </table>
        </div>
    </div>

    <!-- MODAL NEW AND EDIT -->
    <div class="row">
        <div class="modal fade" id="addConcourse" tabindex="-1" role="dialog"
             aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="modalLabel">
                            Cadastrar Concurso
                        </h4>
                    </div>
                    <div class="modal-body">
                        <?php require($form); ?>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-close"></i> Cancelar
                        </button>
                        <button type="button" class="btn btn-success btn-concourse">
                            <i class="fa fa-save"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php
require('partials/footer.phtml');
?>

<script src="/app/js/concursos.js"></script>
