<?php
require('partials/header.phtml');

$form = 'partials/concursos/edit.phtml';
?>
<h3>Acertos e Erros</h3>
<div class="row">
    <label class="col-lg-6">
        <h3 class="text-center">Por Concurso</h3>
        <canvas id="chartConcourse"></canvas>
    </label>
    <label class="col-lg-6">
        <h3 class="text-center">Geral</h3>
        <canvas id="chartExercises"></canvas>
    </label>
    <span id="total_exercises" class="note"></span>
</div>
<hr>
<div class="row">
    <label class="col-lg-6">
        <h3 class="text-center">Por Categoria</h3>
        <canvas id="chartCategories"></canvas>
    </label>
    <label class="col-lg-6">
        <h3 class="text-center">Por Matéria</h3>
        <canvas id="chartMaterials"></canvas>
    </label>
</div>
<hr>
<div class="row">
    <div class="col-lg-3">
        <h3>Últimos Estudos</h3>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <select class="form-control" id="categoryShow" name="categoryShow" style="margin-top: 15px;">
                <option value="0">Selecione a categoria</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="alert alert-dismissable" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span></span>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-hover table-bordered table-responsive" id="tableStudies">
        </table>
    </div>
</div>


<?php
require('partials/footer.phtml');
?>

<script src="/app/js/index.js"></script>
<script>
    $(document).ready(function() {
        $('#searchTable').DataTable();
    } );
</script>
