<?php
require('partials/header.phtml');

$edit_materia = 'partials/materias/edit.phtml';

?>


<div class="row">
    <div class="col-lg-10">
        <h3>Matérias</h3>
    </div>
    <div class="col-lg-2">
        <div class="h3 pull-right">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edit"><i class="fa fa-plus"></i> Adicionar matérias</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-group" id="materialsList">
            <h4 class="list-group-item text-center active" data-remote="true" href="#">
                Todas as Matérias
            </h4>
        </div>
    </div>
    <div class="col-md-6">
        <div id="panelStudies" class="panel panel-primary" style="display: none">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Tópicos</h4>
            </div>
<!--            <div class="panel-body">-->
<!--                Resumo do tópico.-->
<!--            </div>-->
            <table class="table" id="tableStudies">
                <thead>
                    <th>Tópicos</th>
                    <th class="text-center">Acertos</th>
                    <th class="text-center">Erros</th>
                    <th class="text-center">Exercícios</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODAL NEW AND EDIT -->
<div class="row">
    <div class="modal fade" id="edit" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Cadastrar Matéria
                    </h4>
                </div>
                <div class="modal-body">
                    <?php require($edit_materia); ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <i class="fa fa-close"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-success" id="saveMaterial" >
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DELETE -->
<div class="row">
    <div class="modal fade" id="delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Excluir Matéria
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir a matéria?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-close"></i> Não
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteMateria" >
                        <i class="fa fa-trash"></i> Sim
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
require('partials/footer.phtml');
?>

<script src="/app/js/materias.js"></script>

