<?php require('partials/header.phtml'); ?>

<div class="row">
    <div class="col-lg-12">
        <h3>Estudar</h3>
    </div>

<form id="formStudy" method="post">
    <input id="idStudy" name="idStudy" hidden>
    <div class="col-lg-12">
        <div class="alert alert-dismissable" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="category">Matéria</label>
            <select class="form-control" id="category" name="category">
                <option value="0">Selecione a categoria</option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="material">Tema</label>
            <select class="form-control" id="material" name="material">
            </select>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="theme">Tema</label>
            <select class="form-control" id="theme" name="theme">
            </select>
        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success btn-block" id="startStudy" style="margin-top: 25px;display: none">
            <i class="fa fa-play"></i>    Iniciar Estudos
        </button>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-danger btn-block" id="stopStudy" style="margin-top: 25px;display: none">
            <i class="fa fa-stop"></i>    Finalizar Estudos
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="nopadding form-group">
            <label for="review">Resumo</label>
            <textarea id="review" name="review"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label for="concourse">Concurso</label>
            <select class="form-control" id="concourse" name="concourse">
                <option value="">Selecione o concurso</option>
            </select>
        </div>
    </div>
    <div class="col-lg-6 pull-right">
        <div class="col-lg-8 text-right">
            <label></label>
            <h4><b>Exercícios:</b></h4>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="corrects">Acertos</label>
                <input type="number" class="form-control" id="corrects" name="corrects">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="incorrects">Erros</label>
                <input type="number" class="form-control" id="incorrects" name="incorrects">
            </div>
        </div>
    </div>
</div>
</form>
<hr>
<div class="row">
    <div class="col-lg-3">
        <h3>Últimos Estudos</h3>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <select class="form-control" id="categoryShow" name="categoryShow" style="margin-top: 15px;">
                <option value="0">Selecione a categoria</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="alert alert-dismissable" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span></span>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-hover table-bordered table-responsive" id="tableStudies">
        </table>
    </div>
</div>

<?php require('partials/footer.phtml'); ?>

<script src="/app/js/estudos.js"></script>
<script>
    $(document).ready(function() {
        $('#searchTable').DataTable();
    } );
</script>
