<form id="formTheme" role="form" method="post">

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissable" hidden>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="theme">Nome do Tema</label>
                <input type="text" class="form-control" id="theme" name="theme" placeholder="Informe o tema">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="category">Curso</label>
                <select id="category" name="category" class="form-control">
                    <option value="">Selecione a categoria</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="material">Matéria</label>
                <select id="material" name="material" class="form-control" disabled>
                    <option value="">Selecione a matéria</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="resume">Descrição</label>
                <textarea id="resume" name="resume" class="form-control" rows="3" placeholder="Redija aqui uma descrição do tópico ..."></textarea>
            </div>
        </div>
    </div>
</form>
