body {
    margin-top: 55px;
    margin-bottom: 50px;
}
h3 {

    font-weight: bolder;
    letter-spacing: 0.15rem;
    margin-bottom: 40px;

}
thead tr th {
    background: #13931ee6;
    color: white;
    letter-spacing: 0.1rem;
    border: none;
}
input {
    border-radius: 0 !important;
    border: 1px solid #b9b9b9;
    line-height: 35px;
    font-size: 1.5rem;
    font-weight: normal;

}
input[type="date"] {
    line-height: 10px !important;
}
.btn {
    border-radius: 0;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {

    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #ccc;

}
.navbar-brand {
    color: white !important;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.1rem;

}
nav .dropdown-menu > li > a {
    padding: 10px 10px;
    font-weight: bold;
}
.menu-ico-collapse {
    margin-left: 4px;
}
.list-group-submenu .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-submenu .list-group-item:last-child {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.note {
    font-size: 10px;
    color: #757474;
}
.panel-primary {
    border-color: #ddd;
    border-radius: 0;
}
.alert-nota {
    font-weight: bolder;
    color: red;
}
span.num-elements {
    position: absolute;
    display: inline-flex;
    border-radius: 50%;
    background: #0cc324;
    padding: 3px 7px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;
}
.Editor-editor {
    border-color: #ccc;
}
select, .list-group-item:first-child, #menuBarDiv, #statusbar, .list-group-item:first-child, .panel-heading {
    border-radius: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0;
    padding: 4px 10px;
    font-weight: bolder;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
}
